@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Arial;
}

body {
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-size: 7.5vmin;
}

#game-board {
	display: grid;
	grid-template-columns: repeat(var(--grid-size), var(--cell-size));
	grid-template-rows: repeat(var(--grid-size), var(--cell-size));
	background-color: rgb(216, 216, 216);
	gap: var(--cell-gap);
	border-radius: 1vmin;
	padding: var(--cell-gap);
	position: relative;
}

.cell {
	background: rgb(235, 235, 235);
	border-radius: 1vmin;
}

.tile {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--cell-size);
	width: var(--cell-size);
	border-radius: 1vmin;
	top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
	left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
	font-weight: bold;
	background-color: hsl(150, 50%, var(--bg-lightness));
	color: hsl(170, 25%, var(--text-lightness));
	animation: popup 200ms ease-in-out;
	transition: 130ms ease-in-out;
}

@keyframes popup {
	0% {
		opacity: 0.5;
		transform: scale(0);
	}
}

.expand {
	transform: scale(1.2);
}

.statsbar {
	position: relative;
	width: calc((4vmin * 19vmin + 2vmin));
	display: flex;
	justify-content: space-between;
	font-size: 3.3vmin;
	font-weight: bold;
	color: rgb(224, 224, 224);
	margin-bottom: 1vmin;
}
.statsbar span {
	font-family: 'Fredoka', sans-serif;
}

.statsbar .info_icon {
	position: relative;
	cursor: pointer;
	z-index: 2;
}
.statsbar svg {
	height: 3vmin;
	width: 3vmin;
	margin-right: 1.5vmin;
	transform: translateY(0.2vmin);
}

.statsbar svg path {
	fill: white;
}

.statsbar::before {
	font-family: 'Fredoka', sans-serif;
	content: '2048';
	position: absolute;
	width: 100%;
	inset: 0;
	text-align: center;
	font-size: 7vmin;
	font-weight: bold;
	transform: translate(2vmin, -3.3vmin);
}

.score,
.max-score {
	font-family: 'Fredoka', sans-serif;
	color: #50c878;
}

#author-info {
	width: calc((4vmin * 19vmin + 2vmin));
}

.hrule {
	margin: 2vmin 0 0 0;
	border: none;
	outline: none;
	height: 1px;
	background-color: white;
}

#author-info p {
	font-family: 'Fredoka', sans-serif;
	margin: 0;
	font-size: 5vmin;
	color: whitesmoke;
	margin-top: 1vmin;
}

#author-info p a {
	font-family: 'Fredoka', sans-serif;
	position: relative;
	float: right;
	z-index: 2;
	color: #50c878;
	text-decoration: none;
}
